<div class="container">
<form action='/hoho'method='post'>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name= 'email' type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">글 제목</label>
    <input name= 'title' type="text" class="form-control" id="exampleInputPassword1" placeholder="글 제목 써주세요">
   <textarea name='content' class="form-control" rows="5" id="comment"placeholder="글 내용 써주세요" ></textarea>
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>